{% extends 'base.html' %}

{% load static %}

{% block nav %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<nav class="navbar navbar-expand-lg fixed-top py-3" id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href={% url "home" %}><img src="\static\icons\logo_pb.png" width="50px" height="50px"> Pur Beurre </a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		
	</div>
</div>
<div class="collapse navbar-collapse" id="navbarResponsive">
	<ul class="navbar-nav ml-auto my-2 my-lg-0">
		<li class="nav-item"><a class="nav-link js-scroll-trigger" href={% url "signup"%}>Créer un compte  - <i class="fas fa-user fa-3x"></i></a></li>
	</ul>
</div>

</nav>


{% endblock nav %}

{% block header %}

<header class="masthead text-center text-white d-flex">

<div class="container my-auto justify-content-center">
	<div class="col justify-content-center text-align-center">

	<h1>Vérifier votre boite de réception.</h1>
	<p>Nous vous avons envoyés les instructions. Vous devriez recevoir l'émail rapidement!</p>

	</div>
</div>
</header>

{% endblock header %}

{% block content %}
{% endblock content %}}